<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>DAM</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h2>Project List</h2> 

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Credits</th>
        <th>field</th>
        <th>budget</th>
        <th>courses</th>
    </tr>
    <tr th:each="project : ${projects}">
    	<td th:text="${project.id}"></td>
        <td th:text="${project.name}"></td>
        <td th:text="${project.credits}"></td>
        <td th:text="${project.email}"></td>
        <td th:text="${project.courses}"></td>
    </tr>    
</table>
<br/>  
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>