<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>DAM</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<h2>University List</h2> 

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
       
    </tr>
    <tr th:each="university : ${universitys}">
    	<td th:text="${universitys.id}"></td>
        <td th:text="${universitys.name}"></td>
         <td th:text="${universitys.name}"></td>
       
    </tr>    
</table>
<br/>  
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>